@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;800&family=Nunito+Sans:wght@400;600;800&display=swap");
@import "tailwindcss";

:root {
  --primary: #ff5000;
  --black: #1e1e1e;
  --white: #fafafa;
}

body {
  font-family: "Fira Sans", "Nuniti Sans";
  background-color: var(--black);
  color: var(--white);
  padding: 2rem;

}
* {
  transition: all 0.2s ease-in-out;
}
.icons {
  height: 50px;
  width: 50px;
  margin: 10px;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.2s all ease-in-out;
}

.icons:hover {
  transform: scale(1.2) translateY(-5px) rotate(-5deg);
}
.inputs{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
}