@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;800&family=Nunito+Sans:wght@400;600;800&display=swap");
@import "tailwindcss";

:root {
  --primary: #ff5000;
  --black: #1e1e1e;
  --white: #fafafa;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 15%;
}
body {
  font-family: "Fira Sans", "Nuniti Sans";
  background-color: var(--black);
  color: var(--white);
  padding: 2rem;
}
* {
  transition: all 0.2s ease-in-out;
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 64px;
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  z-index: 50;
}
.nav-links {
  display: flex;
  gap: 24px;
  font-weight: bold;
}

.nav-link {
  position: relative;
  color: var(--white);
  text-decoration: none;
}

/* ::after underline */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: var(--primary);
  transition: width 0.25s ease-in-out;
}

.nav-link:hover {
  color: var(--primary);
}

.nav-link:hover::after {
  width: 100%;
}
@media (max-width: 640px) {
  .nav-links {
    display: none;
  }
}
.icons {
  height: 50px;
  width: 50px;
  margin: 10px;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.2s all ease-in-out;
}

.icons:hover {
  transform: scale(1.2) translateY(-5px) rotate(-5deg);
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
}

.blogcontent ul{
  list-style-type: lower-greek;
}